<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Store</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="js/common.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
</head>
<body>

<div class="container">

    <div class="header">
        <h2>Pokemon Store</h2>
    </div>

    <div class="ui-widget ui-helper-clearfix">

        <script type="text/template" id="list-template">
            <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
                <% for (var i=1; i<=count; i++) { %>
                <li>
                    <img src="http://pokeapi.co/media/img/<%=i%>.png" alt="Pokemon" width="96" height="72">
                    <h5 class="ui-widget-header"><%=i%> Pokemon name</h5>
                    <a href="link/to/trash/script/when/we/have/js/off" class="ui-icon ui-icon-trash">Buy</a>
                </li>
                <% } %>
            </ul>
        </script>


        <script>
            var tmpl = _.template(document.getElementById('list-template').innerHTML);
            var result = tmpl({count: 24});
            document.write( result );
        </script>

        <div id="trash" class="ui-widget-content ui-state-default">
            <h3 class="ui-widget-header">Basket</h3>
        </div>

    </div>
    <button id="next">Load more...</button>


</div>

</body>
</html>